.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems{
    display: inline;
    padding: 10px;
    color: white;
}

.dialogItems .active a {
    color: gold;
    text-decoration: none;
}

.dialog a {
    text-decoration: none;
}
